<cfsetting showdebugoutput="No">
<cfoutput query="prc.getPropertySavedSearches">
	<tr>
		<td><a href="javascript:loadSearch(#prc.getPropertySavedSearches.savedSearchID#,#userID#)">#prc.getPropertySavedSearches.searchName#</a></td>
		<td width="20"><a href="javascript:deleteConfirm(#prc.getPropertySavedSearches.savedSearchID#);"><img src="/includes/images/search/x_icon.png"></a></td>
	</tr>
</cfoutput>
