
<h1>An Error Occured</h1>
<cfoutput>
<cfdump var="#prc.stResults#" output="browser" label="prc.stResults">
Error Code: #prc.stResults.status#<br/>
Locus: #prc.stResults.locus#<br/>
<cfabort>
Message: <CFIF IsDefined("prc.stResults.message.detail")>#prc.stResults.message.detail#<CFELSE>#prc.stResults.message#</CFIF><br/>
</cfoutput>

<cfdump var="#prc.stResults#" output="browser">
