
<cfoutput>

<div class="container-border container-spacer">
	<div class="table-header content-bar-label">
		<CFSET showTabOptions = "Correlation">
		#renderView('_templates/miniNavigationBar')#
		Correlation&nbsp;&nbsp;
	</div>

	<div id="expander-holders" class="panel panel-default">
		#renderView('correlation/_templates/correlation')#
	</div>
</div>


</cfoutput>