/*
 ____   ____   ____ _______ _____ _______ _____            _____        ______ _______   ________  _____
|  _ \ / __ \ / __ \__   __/ ____|__   __|  __ \     /\   |  __ \      |  ____|_   _\ \ / /  ____|/ ____|
| |_) | |  | | |  | | | | | (___    | |  | |__) |   /  \  | |__) |     | |__    | |  \ V /| |__  | (___
|  _ <| |  | | |  | | | |  \___ \   | |  |  _  /   / /\ \ |  ___/      |  __|   | |   > < |  __|  \___ \
| |_) | |__| | |__| | | |  ____) |  | |  | | \ \  / ____ \| |          | |     _| |_ / . \| |____ ____) |
|____/ \____/ \____/  |_| |_____/   |_|  |_|  \_\/_/    \_\_|          |_|    |_____/_/ \_\______|_____/

*/

/*
	If you update the bootstrap CSS, you MUST do the following:
	1) Comment out height, padding, and line-height in the bootstrap file for the form-control element.
	2)Change block type to INLINE-BLOCK for the form-control element.

	If you don't you'll mess up the layout of the site
*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #fff!important;parcel
	font-weight: bold;
	border-color: #999 #999 #fff!important;
}
.nav-tabs > li > a:hover {
	background-color: #fff!important;
}
.form-control {
	display: inline-block;
	padding: 4px 6px 0 6px;;
	line-height: 28px;
}
div.select2-container.form-control {
	display: inline-block;
	padding: 0;
	line-height: 20px;

}
.navbar-fixed-bottom {
	min-height: unset!important;
}
.navbar-fixed-top .navbar {
	min-height: 52px!important;
}
.nav-tabs > li > a {
	margin-bottom: 1px;
}
.nav-tabs > li.active > a {
	border-bottom: #fff 2px solid!important;
	margin-bottom: 0;
	z-index: 2;
}
.container {
	width: 960px!important;
	padding: 0!important;
}
.modal-dialog {
    margin: 200px auto!important;
}
.block-expander {
	text-decoration: none!important;
	font-size: 18px!important;
	font-family: arial, serif;
	color: #104982;
}
.section-bar-expander {
	cursor: pointer;
}
.nav > li > a {
	padding: 6px!important;
}

#audit-box tr td {
	border-top: none!important;
}
.select2-container {
	border: none!important;
	margin: 0 0 3px!important;
	/*margin: 0 0 -3px!important;*/
}
.fix-bs-row {
	margin-left: 0!important;
	margin-right: 0!important;
}
.fix-bs-row div.databox {
	height: 55px;
	line-height: 25px;
	margin-bottom: 5px;
}
.fix-bs-row div.databox-textbox {
	height: 100px;
	line-height: 25px;
	margin-bottom: 5px;
}
.fix-bs-row div.databox-parcel-exemption {
	height: 30px;
	line-height: 25px;
	margin-bottom: 5px;
}
.fix-bs-row div.legal-databox {
	min-height: 200px;
	margin-bottom: 5px;
}
.fix-bs-row.add-in-box div.databox {
	min-height: 100px;
}
.fix-bs-row tr.databox {
	height: 55px;
	line-height: 25px;
}
.add-in-box {
	margin: 0 15px!important;
	border: 1px solid #104982;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 3px 2px #104982;
	box-shadow: 2px 2px 3px 2px #104982;
}
.add-in-box-view {
	margin: 0!important;
}
.fix-bs-row.add-in-box-view div.databox {
	min-height: 100px;
}
.moneyfield {
	width: 90%!important;
}
.table-borders > thead > tr > th, .table-borders > tbody > tr > th,
.table-borders > tfoot > tr > th, .table-borders > thead > tr > td,
.table-borders > tbody > tr > td, .table-borders > tfoot > tr > td {
	border: 1px solid #ddd!important;
}
.pagination {
	margin: 0!important;
	padding: 5px 0 0 0;
}
.well {
	margin-bottom: 0!important;
}
.tooltip-inner {
	max-width: unset!important;
}
span[data-toggle='tooltip'] {
	cursor: help;
	color: #104982!important;
}
.fancybox-skin {
	background: none!important;
}
.udfrow span.glyphicon-remove-sign {
	cursor: pointer;
}


/*
  _____ ______ _   _ ______ _____            _        _____        _____ ______  _____
 / ____|  ____| \ | |  ____|  __ \     /\   | |      |  __ \ /\   / ____|  ____|/ ____|
| |  __| |__  |  \| | |__  | |__) |   /  \  | |      | |__) /  \ | |  __| |__  | (___
| | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |      |  ___/ /\ \| | |_ |  __|  \___ \
| |__| | |____| |\  | |____| | \ \  / ____ \| |____  | |  / ____ \ |__| | |____ ____) |
 \_____|______|_| \_|______|_|  \_\/_/    \_\______| |_| /_/    \_\_____|______|_____/

*/

.dropdown-menu{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none
}
.dropdown-submenu {
    position: initial;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 101%;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}




body {
	font-family: Verdana, Geneva, sans-serif;
	background: #eee;
}
#siteHeader {
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #FFF;
	background: #104982;
	z-index:9999;
}
#siteHeader strong {color: #FFF;}
#siteHeader a {
	color:#f2f2f2;
	font-size:11px;
	text-decoration: none;
}
#siteHeader a:hover {color:#FFF;}
#siteHeader i {margin: 0 2px 0 6px;}

.siteContent {
	position: absolute;
	top: 77px;
	right: 0;
	bottom: 35px;
	left: 0;
	background:#DFDFDF;
	overflow: auto;
	overflow-y: scroll;
	padding: 0 0 0 18px;
	transition: opacity 200ms linear;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	padding-top: 37px;
}
.siteFooter {
	height: 35px;
	line-height: 35px;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fbfbfb;
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e0e0e0 100%);
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#e0e0e0 100%);
	background: linear-gradient(to bottom,  #fbfbfb 0%,#e0e0e0 100%);
	border-top: solid 1px #BFBFBF;
	color: #757575;
	font-size:11px;
}
.siteFooter a, .siteFooter a:active, .siteFooter a:visited {
	color: #757575;
}
.link { cursor: pointer !important; }
.alert {
	border: solid 1px #DBC599;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
	margin-bottom: 10px;
	font-size:12px;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
}
#header-year-container {
	margin-left: 50px;
	float: left;
	display: inline-block;
}
#s2id_search-header-y {
	width: 150px;
}
#header-container {
	vertical-align: top;
	margin-bottom: 10px;
	height: 30px;
}

#header-container #header-previous,
#header-container #header-next {
	width: 30px;
	height: 30px;
	float: left;
}
#header-container #header-previous {
	margin-right: 10px;
	background: url("/includes/images/search/Larrow_icon.png") 0 no-repeat;
}
#header-container #header-next {
	margin-left: 10px;
	background: url("/includes/images/search/Rarrow_icon.png") 0 no-repeat;
}
.nav-link-light {
	opacity: .4;
}
#header-container #parcelNumber {
	width: 275px;
	position: relative;
	float: left;
}
#header-container #parcelNumber #favorites {
	width: 35px;
	background-color: #f5f5f5!important;
}
#header-container #parcelNumber #favorites.favoriteOn {
	background: url("/includes/images/search/fav_icon.png") 0 no-repeat;
	background-position: center;
}
#header-container #parcelNumber #favorites.favoriteOff {
	background: url("/includes/images/search/favOff_icon.png") 0 no-repeat;
	background-position: center;
}
#header-container #search-header-y {
	margin-left: 50px;
	float: left;
	width: 100px;
}
#header-container #header-year-marker {
	margin-left: 140px;
	font-weight: bold;
	color: red;
	float: left;
}
#pleaseWaitDialog {
	top: 250px!important;
	margin: 0 auto;
	width: 300px;
	background-color: #fff;
	height: 140px;
}
#imagemodal .modal-dialog {
    margin: 100px auto!important;
}
#copy-parcel {
	vertical-align: unset!important;
	height: 30px;
	width: 32px;
}

.padding5 { padding: 5px !important; }
.padding10 { padding: 10px !important; }
.padding15 { padding: 15px !important; }
.padding20 { padding: 20px !important; }

input.width-90percent {
	width: 90%!important;
}
input.width-80percent {
	width: 80%!important;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-alignment-helper .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.vertical-alignment-helper .vertical-align-center .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

input[readonly] {
    cursor: not-allowed!important;
}

.content-bar-label {
	font-size: 14px!important;
	font-weight: bold!important;
	font-color: rgb(255, 255, 255)!important;
}

.section-bar-label {
	font-size: 12px!important;
	font-weight: bold!important;
	font-color: rgb(51, 51, 51)!important;
}


.formatted-data-values,
input[type=text],
select.form-control,
textarea.form-control {
	color: rgb(85, 85, 85)!important;
	font-size: 12px!important;
	font-weight: bold!important;
	padding-top: 1px;
}
.fix-bs-row  span.formatted-data-label.multiple-line-fix {
	line-height: 25px!important;
}
.formatted-data-label {
	color: rgb(153, 153, 153)!important;
	font-size: 12px!important;
	font-weight: bold!important;
	text-shadow: none!important;
}

.formatted-data-label-white {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: none;
}
.select2-results .select2-highlighted > div > .formatted-data-values {
    color: #fff!important;
}
.panel {
	border-radius: 0;
}
.panel-heading {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.panel-default > .panel-heading {
	background-color: rgb(236,236,236)!important;
	border-color: #ddd;
	color: #333;
}
.panel-default > div > .panel-heading {
	background-color: rgb(236,236,236)!important;
	border-color: #ddd;
	color: #333;
}
.siteFooter {
	min-height: 20px;
}
.siteHeader {
	height: 18px;
	font-size: 10px;
	margin-left: auto;
    margin-right: auto;
}
.land-line {
	cursor: pointer;
}
.table-land-lines .label {
	margin-right: 10px;
}
.table-land-lines .label-off {
	background: #efefef;
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.5);
}
.modal-backdrop, .modal-backdrop.fade.in { opacity: .5; fitler: alpha(opacity=80); }
.modal {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
}
.modal-header {
	background: #104982;
}
.modal-title {
	color: #fff;
}
.modal-footer {
	padding: 10px;
}
input#search-button{
    background: url('/includes/images/v2/realCAMA_icon_beginsearch.png') no-repeat;
    height: 19px;
	width: 95px;
	border: 0;
}
input#clear-button{
    background: url('/includes/images/v2/realCAMA_icon_clearFields.png') no-repeat;
    height: 19px;
	width: 93px;
	border: 0;
}
.table-hidden {
	display: none;
}
#tabContent {
	opacity: 1;
	transition: opacity 200ms linear;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
}
.container-border {
	background: #FFF;
	margin-top: 0px;
	margin-bottom: 1px;
	/*padding: 5px 0 0 0;*/
	font-size:12px;
	color:#555;
	/* text-align:center; */ /* JPK */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.container-border-no-top-spacer {
	padding: 0;
}
.container-spacer {
	margin-bottom: 20px;
}
.table-header {
	background: #104982;
	color: #FFF;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	padding: 0 8px;
	margin:-6px -1px 0 -1px;
	text-align:left;
	height:40px;
	line-height:40px;
}
.parcel-table-header {
	background: #5e7a94;
	color: #FFF;
	font-weight:bold;
	font-size:1.2em;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	padding: 0 8px;
	/*margin: 0 0 0 13px;*/
	text-align:left;
	height:40px;
	line-height:40px;
}
.property-persist-bottom {
	background: #dddddd;
	background: -moz-linear-gradient(top,  #dddddd 0%, #f3f3f3 8%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(8%,#f3f3f3), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #dddddd 0%,#f3f3f3 8%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #dddddd 0%,#f3f3f3 8%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #dddddd 0%,#f3f3f3 8%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #dddddd 0%,#f3f3f3 8%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f3f3f3',GradientType=0 );
	padding: 5px 0;
	border-top: solid 1px #AAA;
	font-size:11px;
	color: #888;
}
.search-cat { width:150px; font-weight:bold; }
.search-desc {
	width: 340px;
	background: #cccec6;
	background: -moz-linear-gradient(left,  #cccec6 0%, #f2f6eb 2%, #f2f6eb 93%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cccec6), color-stop(2%,#f2f6eb), color-stop(93%,#f2f6eb));
	background: -webkit-linear-gradient(left,  #cccec6 0%,#f2f6eb 2%,#f2f6eb 93%);
	background: -o-linear-gradient(left,  #cccec6 0%,#f2f6eb 2%,#f2f6eb 93%);
	background: -ms-linear-gradient(left,  #cccec6 0%,#f2f6eb 2%,#f2f6eb 93%);
	background: linear-gradient(to right,  #cccec6 0%,#f2f6eb 2%,#f2f6eb 93%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccec6', endColorstr='#f2f6eb',GradientType=1 );
	font-size:12px;
	font-weight:normal;
	color:#555;
	border-left: solid 1px #CCC;
}
#property-nav .nav { font-size:12px; margin: 15px 0 0 5px; }
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	border: solid 1px #999;
	border-bottom-color: #FFF;
	color: #000;
}
.nav-tabs > li > a {
	font-size: 12px;
	background: #f1f1f1;
	color: #777;
	border: solid 1px #CCC;
	border-bottom-color: #999;
	margin-right: 0px;
	padding: 5px 8px;
	box-sizing: border-box;
}
.nav-tabs > li > a:hover {
	background: #FFF;
	border: solid 1px #CCC;
	border-bottom-color: #999;
}
.table-viewmode td:nth-child(even) {
	text-align: right !important;
}
.table-viewmode td:nth-child(2) {
	padding-right: 20px;
	border-right: solid 1px #ccc !important;
}
.table-viewmode td:nth-child(3) {
	padding-left: 30px;
}
.table-viewmode td:nth-child(1),
.table-viewmode td:nth-child(4) {
	text-align: right !important;
	width: 25%;
	background: #f5f5f5;
	font-size:12px;
	border-right: solid 1px #ccc !important;
}
.table-viewmode td:nth-child(3) {
	border-right: solid 1px #ccc !important;
}
.table-viewmode td:nth-child(2) {
	width: 25%;
}
.table-viewmode td:nth-child(5) {
	width: 18%;
}


/*<!--- REDEFINE THE BACKGROUND COLOR FOR TABLE ROW HOVER --->*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #BCC7D1; }
.table-cols { background: #CCC; }
.table-cols td {
	box-sizing: border-box;
	background:#FFF;
	padding: 5px 15px;
	border-bottom: solid 1px #f4f4f4;
}
.table-hover .table-cols td:hover { background: #f8f4fb; cursor:pointer; }

#filters-box {
	height: 300px;
	overflow: hidden;
	transition: height 200ms ease-in-out;
	-webkit-transition: height 200ms ease-in-out;
	-moz-transition: height 200ms ease-in-out;
	-ms-transition: height 200ms ease-in-out;
}
.persistent-data-box {
	border-right: solid 1px #ddd;
	border-top: none !important;
	text-align: left !important;
	padding: 5px 10px;
	vertical-align: top;
	min-width: 50px;
}
.persistent-data-box:last-child { border: 0; }
.persistent-data-box .badge {
	margin: 1px 0;
	background-color: #104982;
}
.nextPrev {
	font-size: 11px;
	height:25px;
	line-height:25px;
	text-align:right;
	padding:0;
	color: #666;
}
.section-divider {
	padding:		0 10px;
	background: rgb(241,241,241);
	font-size:		14px !important;
	cursor:			default;
	height: 35px;
	line-height: 30px;
	text-align: left;
}
.section-divider input[type="text"] {
	height: 20px;
	line-height: 20px;
}
/*
REDEFINE BOOTSTRAP DOWNDOWNS IN TABLE-HEADER
*/
.table-header .dropdown-menu {
	margin-top: -4px !important;
}
.table-header .dropdown-menu li>a {
	padding: 3px 10px !important;
}
.addthis_button {
	display: none!important;
	visibility: hidden!important;
}
input#search-search-button{
    background: #85b241 url('/includes/images/v2/realCAMA_icon_search.png') no-repeat;
    height: 34px;
	width: 75px;
	vertical-align: middle;
	display: inline-block;
}
button#clear-search-button{
    background: #85b241 url('/includes/images/v2/realCAMA_icon_clear.png') no-repeat;
    height: 34px;
	width: 60px;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}
button#help-search-button{
    background: #85b241 url('/includes/images/v2/realCAMA_icon_help.png') no-repeat;
    height: 34px;
	width: 55px;
	vertical-align: middle;
	display: inline-block;
}
button#save-search-button{
    background: #85b241 url('/includes/images/v2/realCAMA_icon_save.png') no-repeat;
    height: 34px;
	width: 60px;
	vertical-align: middle;
	display: inline-block;
}
#search_input {
	width: 350px;
}
.btn-custom { height:34px; width: 75px;  background-color: hsl(88, 48%, 43%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0e5b7", endColorstr="#71a239"); background-image: -khtml-gradient(linear, left top, left bottom, from(#d0e5b7), to(#71a239)); background-image: -moz-linear-gradient(top, #d0e5b7, #71a239); background-image: -ms-linear-gradient(top, #d0e5b7, #71a239); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0e5b7), color-stop(100%, #71a239)); background-image: -webkit-linear-gradient(top, #d0e5b7, #71a239); background-image: -o-linear-gradient(top, #d0e5b7, #71a239); background-image: linear-gradient(#d0e5b7, #71a239); border-color: #71a239 #71a239 hsl(88, 48%, 33.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.62); -webkit-font-smoothing: antialiased; }
tr.verticalAlignMiddle td {
	vertical-align: middle;
}

#more-TPP-links-anchor {
	text-decoration: none;
}

#more-TPP-links {
	display: none;
}
.fancybox-skin {
	background-color: #fff!important;
}
#copyparcel {
	height: 30px;
	width: 32px;
}
/*
 _______       _ _   _              _______                     _                    _
|__   __|     (_) | | |            |__   __|                   | |                  | |
   | |_      ___| |_| |_ ___ _ __     | |_   _ _ __   ___  __ _| |__   ___  __ _  __| |
   | \ \ /\ / / | __| __/ _ \ '__|    | | | | | '_ \ / _ \/ _` | '_ \ / _ \/ _` |/ _` |
   | |\ V  V /| | |_| ||  __/ |       | | |_| | |_) |  __/ (_| | | | |  __/ (_| | (_| |
   |_| \_/\_/ |_|\__|\__\___|_|       |_|\__, | .__/ \___|\__,_|_| |_|\___|\__,_|\__,_|
                                          __/ | |
                                         |___/|_|
*/
.twitter-typeahead {
	width: 100%;
}
.tt-query,
.tt-hint {
	display: none;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-dropdown-menu {
    width: 125%;
    margin-top: 0px;
    padding: 4px 6px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 10px;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #104982;
}
.tt-suggestions p {
	margin: 0;
}



/*
 _      ____   _____ _____ _   _
| |    / __ \ / ____|_   _| \ | |
| |   | |  | | |  __  | | |  \| |
| |   | |  | | | |_ | | | | . ` |
| |___| |__| | |__| |_| |_| |\  |
|______\____/ \_____|_____|_| \_|

*/
.login-box, .login-box-preview {
	width: 940px;
	height: 460px;
	background: #92bf50;
	background: -moz-linear-gradient(top,  #92bf50 0%, #78a533 30%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92bf50), color-stop(30%,#78a533));
	background: -webkit-linear-gradient(top,  #92bf50 0%,#78a533 30%);
	background: -o-linear-gradient(top,  #92bf50 0%,#78a533 30%);
	background: -ms-linear-gradient(top,  #92bf50 0%,#78a533 30%);
	background: linear-gradient(to bottom,  #92bf50 0%,#78a533 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92bf50', endColorstr='#78a533',GradientType=0 );
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	-ms-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	font-family: Arial, Verdana, Geneva, sans-serif;
}
.login-box {
	position: absolute;
	top: 30px;
}
.login-box img {
	margin-top: 20px;
	margin-left: 20px;
}
.county-info {
	width: 480px;
	float: right;
	margin-top: 65px;
	margin-right: 20px;
	text-align:center;
}
.county-name {
	font-family: Verdana, "Times New Roman", Times, serif;
	font-size: 25pt;
	font-weight: bold;
	color: #fff;
	padding: 5px 0 10px 0;
}
.county-appraiser, .county-office {
	font-size: 12pt;
	font-weight:bold;
	color: #fff;
}
.county-office {
	font-size: 13pt;
	opacity: 0.8;
}
.county-fields {
	text-align: left;
	width: 300px;
	margin-left: 95px;
	padding-top: 10px;
	color: #fff;
	font-weight: bold;
}
.login-box input[type=text], .login-box input[type=password],
.login-box-preview input[type=text], .login-box-preview input[type=password] {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	background: #fff;
	color: #999;
	border: none;
	width: 300px;
	border-radius: 0;
}
.login-box input[type=text]:focus, .login-box input[type=password]:focus,
.login-box-preview input[type=text]:focus, .login-box-preview input[type=password]:focus {
	border: none;
}
.login-button a {
	display: block;
	padding: 6px 20px;
	font-size: 11pt !important;
	color: #fff;
	background: rgba(0,0,0,0.45);
}
.login-button a:hover {
	text-decoration: none !important;
	color: #fff;
	background: rgba(0,0,0,0.65);
}
.county-info a {
	font-size: 11px;
	color: #fff;
}
.county-info a:hover {
	text-decoration: underline;
	color: #fff;
}
#remember { font-size: 10pt; }
#username-required, #password-required {
	opacity: 0;
	visbility: hidden;
	transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
}
#real-logo-preview {
	width: 940px;
	text-align:right;
}
#real-logo {
	position: absolute;
	top: 500px;
	width: 940px;
	text-align:right;
}





/*
 __  __  ____  _____          _       _____
|  \/  |/ __ \|  __ \   /\   | |     / ____|
| \  / | |  | | |  | | /  \  | |    | (___
| |\/| | |  | | |  | |/ /\ \ | |     \___ \
| |  | | |__| | |__| / ____ \| |____ ____) |
|_|  |_|\____/|_____/_/    \_\______|_____/

*/
.popShell {
	position:absolute;
	top: 0;
	right: 0;
	bottom:0;
	left:0;
	overflow:hidden;
	background: rgba(0,0,0,0.25);
	opacity:0;
	z-index: 5000;
	visibility:hidden;
	-webkit-transition: opacity 200ms ease-in-out;
}
.popTrigger {
	position:absolute;
	top: 0;
	right: 0;
	bottom:0;
	left:0;
	opacity:1;
	z-index: 1;
}
.popEdit {
	position:absolute;
	top:0;
	left:0;
	width: 100px;
	box-sizing: border-box;
	background: #fff;
	border: solid 1px #aaa;
	z-index: 2;
}
.popEditHeader {
	height: 30px;
	line-height:30px;
	font-size: 12px;
	font-weight:bold;
	padding: 0 15px;
	border-bottom: solid 1px #ccc;
	background:#efefef;
}
.popEditContent {
	//padding: 10px;
	max-height: 200px;
	overflow: auto;
}
.popEditFooter {
	height:45px;
	line-height:45px;
	text-align: center;
	box-sizing: border-box;
	background: #efefef;
	border-top: solid 1px #cfcfcf;
}
#popupArrow {
	position: absolute;
	left: 50%;
	margin-left: -10px;
}
.popupArrowUp {
	top:-10px;
	border-top: solid 10px transparent;
	border-right: solid 10px transparent;
	border-bottom: solid 10px #efefef;
	border-left: solid 10px transparent;
}
.popupArrowDown {
	bottom:-20px;
	border-top: solid 10px #efefef;
	border-right: solid 10px transparent;
	border-bottom: solid 10px transparent;
	border-left: solid 10px transparent;
}



body .modal-compare {
    /* new custom width */
    width: 850px;
	margin: 0 auto;

}
body .modal-please-wait {
	width: 600px;
	margin: 0 auto;
}
body .modal-land-popupUDF {
	width: 900px;
	margin: 0 auto;
}
body .modal-building-popupUDF {
	width: 960px;
	margin: 0 auto;
}
body .modal-parcel-parcelPopup, .modal-parcel-popupUDF {
	width: 650px;
	margin: 0 auto;
}
body .modal-condomaster-unitTypesPopup {
	width: 960px;
	margin: 0 auto;
}
body .modal-condomaster-unitTypes-Addins-Popup {
	width: 900px;
	margin: 0 auto;
}


body .modal-udf {
	width: 850px;
	margin: 0 auto;
}
body .modal-image-upload {
    /* new custom width */
    width: 500px;
	height: 500px;
	margin: auto;

}

body .modal-building-new-line {
    /* new custom width */
    width: 300px;
	height: 300px;
	margin: 300px auto;

}


#image-upload-propertyImage {
	text-align: center;
	padding: 10px 0;
}
#image-upload-propertyImage img {
	width: 120px;
}
select.two-items-on-row-longerCode {
	width: 400px;
}
select.two-items-on-row-longerCode-part-1 {
	width: 400px;
}
select.two-items-on-row-longerCode-part-2 {
	width: 325px;
}
select.two-part {
	width: 185px;
}
select.documentInfo {
	width: 250px;
}
select.two-part-medium {
	width: 280px;
}
/* select.two-part-large {width: 370px;}*/
input.modal-popper {
	width: 98%;
	cursor: pointer;
}
input.two-part {
	width: 70px;
	margin-left: 5px;
}
input.two-part-medium {
	width: 150px;
	margin-left: 5px;
}
input.two-part-large {
	width: 400px;
	margin-left: 5px;
}
input.two-part-small {
	width: 90px!important;
}
input.fixed {
	width: 80px;
}
.icon-chevron-down {
    background-position: -313px -119px;
	margin-left: 5px;
}
.icon-remove {
	vertical-align: middle;
	cursor: pointer;
}
.icon-nothing {
	width: 14px;
	display: inline-block;
}
.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-ok {
    background-position: -288px 0;
}

.btn-inverse {
/*     background-color: #628a29;
   background-image: linear-gradient(to bottom, #4e701c, #628a29);*/
   background-color: #104982;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.udfrow {
	margin-bottom: 7px;
}
input.land-100 {
	width:100px;
	font-size:.8em;
}
input.land-80 {
	width:80px;
	font-size:.75em;
}
input.land-105 {
	width:105px;
	font-size:.75em;
}
input.land-120 {
	width:120px;
	font-size:.75em;
}
input.percentage {
	width: 90%;
}
input.building-modal-popper {
	width: 96%;
}
input.building-modal-popper-small {
	width: 93%
}
input.error {
	background-color: #f2dede !important;
	border:#FF0000 1px solid;
}
#runningTotalContainer {
	float: left;
}
#runningTotal.error {
	color: #f00;
	font-weight: bold;
}
#runningTotal.success {
	color: #3c763d;
	font-weight: bold;
}
a.glyphicon {
	text-decoration: none;
}
#modalPleaseWait {
	width: 450px;
	margin-bottom: 0;
	display:none;
}

/*
 _               _   _ _____
| |        /\   | \ | |  __ \
| |       /  \  |  \| | |  | |
| |      / /\ \ | . ` | |  | |
| |____ / ____ \| |\  | |__| |
|______/_/    \_\_| \_|_____/

*/


.land-line-summary {
	width: 100%;
}
.land-line-summary tr td {
	padding: 0 5px;
}
#land-line-options {
	float: left;
	/*margin-right: 290px;*/
	width: 350px;
}
#land-line-pager {
	float: left;
	width: 200px;
}


#land-line-expander {
	float: right;
	width: 100px;
}
.land-udf-table {
	padding: 0;
	margin: 0 15px;
}
.modal-land-popupUDF {
	width: 971px;
}
.table-condensed .land-udf-table td:first-child {
    padding-left: 0;
}
.land-udf-table thead tr td {
	font-size: 12px;
	font-weight: bold;
	color: rgb(153, 153, 153);
}
.land-udf-table tfoot tr td {
	font-size: 12px;
	font-weight: bold;
	color: rgb(153, 153, 153);
}

.land-udf-table tr {
	line-height: 30px;
}
.land-udf-table tbody tr {
	border-bottom: 1px solid #ccc;
}
.land-udf-table tfoot {
	border-top: 2px solid black;
}
.land-udf-table tfoot tr {
	line-height: 35px;
}
.land-line-adj-button {
	cursor: pointer;
}
input.numeric {
	text-align: right;
}
.rightAlign {
	text-align: right;
}
.centerAlign {
	text-align: center;
}
.land-add-lines-drop-options {
	margin-bottom: 4px;
}
#modalNoDepth {
	z-index: 700;
}
.percent-length {
	width: 90%!important;
}

.compare-panel-top {
	margin-bottom: 0!important;
}
.table-condensed td:first-child .threeColumnDisplay {
	padding-left: 0!important;
}
.noPadding td:first-child {
	padding-left: 0!important;
}
.appraisedValue {
	font-size: 20px;
	line-height: 32px;
}
.land-udf-table thead td,
.adjustmentFooter tr td  {
	color: rgb(153, 153, 153);
}
.land-part-action-buttons {
	float: right;
	margin: 20px 14px 10px 0;
}

/*
  _____ ______ _      ______ _____ _______ ___
 / ____|  ____| |    |  ____/ ____|__   __|__ \
| (___ | |__  | |    | |__ | |       | |     ) |
 \___ \|  __| | |    |  __|| |       | |    / /
 ____) | |____| |____| |___| |____   | |   / /_
|_____/|______|______|______\_____|  |_|  |____|

*/
.select2-container.select2-container-disabled .select2-choice {
	cursor: not-allowed!important;
}
.select2-results li:nth-child(even) {
	background-color: #eee;
}
.select2-results li:nth-child(even):hover {
	background-color:#3875d7;
}
.select2-results .select2-highlighted {
	background-color: #104982!important;
}
.select2-2part-left {
	clear: both;
	float: left;
	width: 75px;
}
.select2-2part-right {
	width: 230px;
}
.select2-2part-left-building-typecode {
	clear: both;
	display: inline-block;
	width: 99%;
}
#s2id_leftYear, #s2id_rightYear {
	width: 99%!important;
}
.select2-2part-left-tpp-use {
	clear: both;
	display: inline-block;
	width: 15%;
}
.select2-2part-right-tpp-use {
	display: inline-block;
	width: 85%;
}


.select2-2part-left-building {
	clear: both;
	display: inline-block;
	width: 25%;
}
.select2-2part-right-building {
	display: inline-block;
	width: 75%;
}
.select2-3part-building-left {
	clear: both;
	width: 20%;
	display: inline-block;
}
.select2-3part-building-middle {
	width: 55%;
	display: inline-block;
}
.select2-3part-building-right {
	width: 25%;
	text-align: right;
	display: inline-block;
}
.select2-3part-building-left-small {
	clear: both;
	width: 35%;
	display: inline-block;
}
.select2-3part-building-middle-small {
	width: 45%;
	display: inline-block;
}
.select2-3part-building-right-small {
	width: 20%;
	font-size: 9px;
	text-align: right;
	display: inline-block;
}
.select2-2part-left-building-longcode {
	clear: both;
	float: left;
	width: 125px;
}
.select2-2part-right-building-longcode {
	width: 325px;
}

.select2-2part-left-parcel {
	clear: both;
	float: left;
	width: 35px;
}
.select2-2part-right-parcel {
	width: 270px;
}
.select2-2part-left-parcel-usecode {
	clear: both;
	float: left;
	width: 70px;
}
.select2-2part-right-parcel-usecode {
	width: 235px;
}
.select2-2part-left-longerCode {
	clear: both;
	float: left;
	width: 100px;
}
.select2-2part-right-longerCode {
	width: 210px;
}
.select2-3part-left {
	clear: both;
	float: left;
	width: 75px;
}
.select2-3part-middle {
	float: left;
	width: 150px;
}
.select2-3part-right {
	width: 130px;
	font-size: 9px;
}
.select2-3part-land-left {
	clear: both;
	float: left;
	width: 90px;
}
.select2-3part-land-middle {
	float: left;
	width: 220px;
}
.select2-3part-land-right {
	width: 60px;
	font-size: 9px;
}
.select2-3part-parcel-left {
	clear: both;
	float: left;
	width: 60px;
}
.select2-3part-parcel-middle {
	float: left;
	width: 250px;
}
.select2-3part-parcel-right {
	width: 60px;

}

.select2-container.fix-me-i-am-an-error .select2-choice  {
	border: 1px solid #f00!important;
}

/*
  _____ ______          _____   _____ _    _
 / ____|  ____|   /\   |  __ \ / ____| |  | |
| (___ | |__     /  \  | |__) | |    | |__| |
 \___ \|  __|   / /\ \ |  _  /| |    |  __  |
 ____) | |____ / ____ \| | \ \| |____| |  | |
|_____/|______/_/    \_\_|  \_\\_____|_|  |_|

*/
.not-valid-to-click {
	opacity: .2;
	cursor: default;
}
.not-valid-to-click:hover {
	color: #777777!important;
}
.warning {
	font-style: bold;
	color: red;
}
#search-results tbody tr:hover td {
	cursor: pointer;
	background-color: #DAF1C3!important;
}
.search-action-button {
	margin-left: 790px;
}

td.search-text-align-center {
	text-align: center;
}
.search-box-tall {
	/*min-height: 660px;	*/
}
.search-box-short {
	min-height: 320px;
}

.search-left-box {
	float: left;
	width: 608px;
	display: block;
}
.search-right-box {
	float: right;
	width: 348px;
	display: block;
}

#realEstateSearchBox, #specialFiltersSearchBox, #TangiblePersonalPropertySearchBox, #sortSearchBox,
.savedSearchesBox, .FavoritesBox {
	border: 1px solid black;
	background: #fff;
	margin: 0 0 5px 0;
	padding: 5px;
}

.search-button-text {
	color: rgb(0,128,0);
	font-weight: bold;
	font-size: 14px;
}
.search-table-scroll,
.search-table-scroll-small {
	width: 100%;
	display: table;
}
.search-table-scroll thead,
.search-table-scroll tbody,
.search-table-scroll-small thead,
.search-table-scroll-small tbody {
	float: left;
	width: 100%;
}
.search-table-scroll thead,
.search-table-scroll-small thead  {
	background: #104982;
	color: #fff;
	padding: 5px;
}
.search-table-scroll tbody {
	overflow: auto;
	height: 270px;
	padding: 5px;
}
.search-table-scroll-small tbody {
	overflow: auto;
	height: 260px;
	padding: 5px;
}
.search-table-scroll tr,
.search-table-scroll-small tr {
	width: 100%;
	display: table;
	text-align: left;
}
.search-table {
	width: 100%;
}
.search-table thead tr {
	background: #104982;
	color: #fff;
	padding: 2px;
	height: 40px;
}
.search-table thead tr td {
	padding: 5px;
}
.search-table tbody tr td {
	padding: 3px;
}
.search-table tbody tr td:first-child {
	/*vertical-align:top;*/
}
#situs-address {
	padding: 0;
	margin: 0;
}
#situs-address tbody tr td {
	vertical-align: top;
}


/*
 _____        _____   _____ ______ _
|  __ \ /\   |  __ \ / ____|  ____| |
| |__) /  \  | |__) | |    | |__  | |
|  ___/ /\ \ |  _  /| |    |  __| | |
| |  / ____ \| | \ \| |____| |____| |____
|_| /_/    \_\_|  \_\\_____|______|______|

*/
#view_mode_item_5 > div > .panel-heading {
	background-color: #f5f5f5 !important;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#view_mode_item_5 > div > .panel-heading:first-child {
	border-top: none;
}


#parcel-line-options {
	float: left;
	margin-right: 220px;
	width: 420px;
}
#parcel-line-expander {
	float: right;
	width: 100px;
}

.parcel-four-part-line {
	float: left;
	width: 233px;
	height: 55px;
	margin: 0 0 5px 14px;
	/*border: 1px solid black;*/
	line-height: 25px;
	color: #000;
}
.parcel-two-part-line {
	float: left;
	width: 480px;
	height: 55px;
	margin: 0 0 5px 14px;
	/*border: 1px solid black;*/
	line-height: 25px;
	color: #000;
}

.parcel-four-part-line-small {
	float: left;
	width: 110px;
	height: 55px;
	margin: 0 0 5px 14px;
	/*border: 1px solid black;*/
	line-height: 25px;
	color: #000;
}
.parcel-four-part-line-large {
	float: left;
	width: 355px;
	height: 55px;
	margin: 0 0 5px 14px;
	/*border: 1px solid black;*/
	line-height: 25px;
	color: #000;
}
.parcel-four-part-line input.moneyfield,
.parcel-two-part-line input.moneyfield {
	width: 96%;
}
.parcel-info-add-owner {
	margin-top: 17px;
}

input.ninty-percent {
	width: 90%!important;
}
input.eighty-five-percent {
	width: 85%!important;
}
.parcel-two-part-line-large {
	float: left;
	width: 480px;
	margin: 0 0 5px 14px;
	color: #000;
}
.parcel-input-block-level {
    box-sizing: border-box;
    display: block;
    width: 100%;
	height: 340px;
}
.red-text {
	color: #640000;
}
.green-text {
	color: #006400;
}
.blue-text {
	color: #104982;
}

.paszip {
	width: 130px!important;
}
.paszip4 {
	width: 80px!important;
}

.parcel-popup-input  {
	width: 290px!important;
}
.label-parcel-popup {
	width: 290px;
	font-weight: bold;
	display: inline-block;
}
.exemption {
	box-shadow: none!important;
	margin-bottom: 0!important;
}
.legaldescription {
	height: 180px;
}
.cm-legal-display {
	height: 180px;
	overflow-y: auto;
}

/*
 ____  _    _ _____ _      _____ _____ _   _  _____
|  _ \| |  | |_   _| |    |  __ \_   _| \ | |/ ____|
| |_) | |  | | | | | |    | |  | || | |  \| | |  __
|  _ <| |  | | | | | |    | |  | || | | . ` | | |_ |
| |_) | |__| |_| |_| |____| |__| || |_| |\  | |__| |
|____/ \____/|_____|______|_____/_____|_| \_|\_____|

*/
.building-button-row {
	height: 30px;
	text-align: right;
}
.building-part-action-buttons {
	float: right;
	margin: 20px 14px 10px 0;
}
.building-button-row a {
	cursor: pointer;
}
#building-line-options {
	float: left;
	/*margin-right: 290px;*/
	width: 350px;
}
#building-line-pager {
	float: left;
	width: 350px;
}
#building-line-pager {
	float: left;
	width: 200px;
}

#building-pager .btn-group {
	margin-top: 5px;
}
#building-line-expander {
	float: right;
	width: 100px;
}
.building-line-miltiple-items-link,
.building-more-attributes {
	color: #104982!important;
	cursor: pointer;
}
.building-udf-table {
	width: 100%;
	padding: 0;
}
.table-condensed .building-udf-table td:first-child {
    padding-left: 0;
}
.building-udf-table thead tr td {
	font-size: 12px;
	font-weight: bold;
	color: rgb(153, 153, 153);
}
.building-udf-table tfoot tr td {
	font-size: 12px;
	font-weight: bold;
	color: rgb(153, 153, 153);
}

.building-udf-table tr {
	line-height: 30px;
}
.building-udf-table tbody tr {
	border-bottom: 1px solid #ccc;
}
.building-udf-table tfoot {
	border-top: 2px solid black;
}
.building-udf-table tfoot tr {
	line-height: 35px;
}
.modal-error {
	width: 99%;
	margin: 0 auto 10px;
	border-radius: 5px;
	padding-bottom: 10px;
}
#building-modal-adjustments {
	max-height: 500px;
	overflow: scroll;
}
/*
  _____ ____  _____  _____  ______ _            _______ _____ ____  _   _
 / ____/ __ \|  __ \|  __ \|  ____| |        /\|__   __|_   _/ __ \| \ | |
| |   | |  | | |__) | |__) | |__  | |       /  \  | |    | || |  | |  \| |
| |   | |  | |  _  /|  _  /|  __| | |      / /\ \ | |    | || |  | | . ` |
| |___| |__| | | \ \| | \ \| |____| |____ / ____ \| |   _| || |__| | |\  |
 \_____\____/|_|  \_\_|  \_\______|______/_/    \_\_|  |_____\____/|_| \_|

 */

.option-highlighted {
	background: #104982;
	color: #fff;
}

#cost-total, #mica-total,
#income-total, #market-total,
#blended-total, #override-total {
	width: 100px;
}
#correlation-edit-table,
#correlation-view-table  {
	margin-bottom: 0;
}

#correlation-edit-table label,
#correlation-view-table label  {
	margin-bottom: 0;
	display: inline!important;
}

#correlation-edit-table tr td,
#correlation-view-table tr td {
	line-height: 36px;
}

.datefield-yearonly,
.correlation-date-entry {
	width: 60px!important;
	text-align: center;
}
#land-appraised-value-check,
#building-appraised-value-check,
#features-appraised-value-check,
.nothing-check,
#cost-total-check, #mica-total-check,
#income-total-check, #market-total-check,
#blended-total-check, #override-total-check {
	width: 13px;
	height: 13px;
	display: inline-block;
	color: green;
}
#land-appraised-value-check,
#building-appraised-value-check,
#features-appraised-value-check,
#land-appraised-value-check2,
#building-appraised-value-check2,
#features-appraised-value-check2{
	color: black;
}
input.correlation-entry {
	width: 100px;
	border-radius: 4px!important;
}
input.correlation-date-entry {
	width: 125px;
	border-radius: 4px!important;
}
.correlation-label {
    margin-bottom: 0;
	width: 100px;
    display: inline-block;
    line-height: 20px;
    padding: 4px 6px;
    vertical-align: middle;
	font-weight: normal;
}
.correlation-input-group {
	background: transparent!important;
	border: none!important;
}
#correlation-edit-table .input-group-addon {
	background: transparent;
	border: none;
}

/*
 _____  ______ _____  __  __ _____ _______ _____
|  __ \|  ____|  __ \|  \/  |_   _|__   __/ ____|
| |__) | |__  | |__) | \  / | | |    | | | (___
|  ___/|  __| |  _  /| |\/| | | |    | |  \___ \
| |    | |____| | \ \| |  | |_| |_   | |  ____) |
|_|    |______|_|  \_\_|  |_|_____|  |_| |_____/

*/

#permits-line-options {
	float: left;
	width: 350px;
}
.permits-two-part-line {
	float: left;
	width: 480px;
	height: 55px;
	margin: 0 0 5px 14px;
	/*border: 1px solid black;*/
	line-height: 25px;
	font-size: 12px;
}
.permits-part-action-buttons {
	float: right;
	margin: 20px 14px 10px 0;
	width: 350px;
	text-align: right;
}
.section-bar-label-error {
	color: #a94442;
}
.deleted-permit {
	background-color: #DB7093!important;
}
.permits-delete-marker {
	float: left;
	width: 300px;
	margin: 25px 14px 10px 20px;
	color: red;
	font-weight: bold;
}
.section-bar-label-permits-deleted {
	color: red!important;
}



/*
 ______ ______       _______ _    _ _____  ______  _____
|  ____|  ____|   /\|__   __| |  | |  __ \|  ____|/ ____|
| |__  | |__     /  \  | |  | |  | | |__) | |__  | (___
|  __| |  __|   / /\ \ | |  | |  | |  _  /|  __|  \___ \
| |    | |____ / ____ \| |  | |__| | | \ \| |____ ____) |
|_|    |______/_/    \_\_|   \____/|_|  \_\______|_____/

*/
#features-line-options {
	float: left;
	width: 350px;
}
#extrafeatures-line-pager {
	float: left;
	width: 200px;
}
#extrafeatures-line-expander {
	float: right;
	width: 100px;
}



/*
  _____ ____  _   _ _____   ____    __  __           _____ _______ ______ _____
 / ____/ __ \| \ | |  __ \ / __ \  |  \/  |   /\    / ____|__   __|  ____|  __ \
| |   | |  | |  \| | |  | | |  | | | \  / |  /  \  | (___    | |  | |__  | |__) |
| |   | |  | | . ` | |  | | |  | | | |\/| | / /\ \  \___ \   | |  |  __| |  _  /
| |___| |__| | |\  | |__| | |__| | | |  | |/ ____ \ ____) |  | |  | |____| | \ \
 \_____\____/|_| \_|_____/ \____/  |_|  |_/_/    \_\_____/   |_|  |______|_|  \_\

*/



#condo-line-options,
#condounit-line-options {
	float: left;
	margin-right: 290px;
	width: 350px;
}
.condomaster-three-part-line {
	float: left;
	height: 55px;
	width: 310px;
	margin: 0 0 5px 14px;
	/*border: 1px solid black;*/
	line-height: 25px;
	font-size: 12px;
}

.condomaster-four-part-line {
	float: left;
	height: 55px;
	width: 233px;
	margin: 0 0 5px 14px;
	/*border: 1px solid black;*/
	line-height: 25px;
	font-size: 12px;
}

.condomaster-line-summary {
	background-color: #f5f5f5;
    border-color: #dddddd;
    color: #333333;
	padding: 10px 15px;
}
.condo-master-floor {
	width: 40px!important;
}
div.dataTables_wrapper {

}
div.dataTables_wrapper div.select2-container.form-control {
	width: 100%;
}
div.dataTables_wrapper .even,
div.dataTables_wrapper th {
	background-color: #fff;
}
table.dataTable {
	margin-bottom: 0;
}
#myEditTable_wrapper th {
	border-bottom: 0!important;
}
.fix-bs-row div.databox-legal {
    height: 200px;
    line-height: 25px;
    margin-bottom: 5px;
}
.legal-databox {
	height: 180px!important;
}
#condo-master-unit-types {
	width: 98%;
	margin: 10px;
}
#condo-master-unit-types thead tr th {
	padding: 5px;
}
#condo-master-unit-types tbody tr td.align-vertical-top {
	vertical-align: top;
	padding: 5px;
	cursor: pointer;
}
#condo-master-unit-types td.display-hide {
	display: hidden;
}
.showRight {
	margin-right: 10px;
}
.showLeft {
	margin-left: 195px;
}
#popCondoMasterUnitType.blur {
	filter: blur(5px);
	webkitFilter: blur(5px);
	mozFilter: blur(5px);
	oFilter: blur(5px);
	msFilter: blur(5px);
}
#popCondoMasterUnitTypeAddIns {
	position: absolute;
}
/*
  _____ ____  _   _ _____   ____    _    _ _   _ _____ _______
 / ____/ __ \| \ | |  __ \ / __ \  | |  | | \ | |_   _|__   __|
| |   | |  | |  \| | |  | | |  | | | |  | |  \| | | |    | |
| |   | |  | | . ` | |  | | |  | | | |  | | . ` | | |    | |
| |___| |__| | |\  | |__| | |__| | | |__| | |\  |_| |_   | |
 \_____\____/|_| \_|_____/ \____/   \____/|_| \_|_____|  |_|

*/











/*
 _______       _   _  _____ _____ ____  _      ______    ______          ___   _ ______ _____
|__   __|/\   | \ | |/ ____|_   _|  _ \| |    |  ____|  / __ \ \        / / \ | |  ____|  __ \
   | |  /  \  |  \| | |  __  | | | |_) | |    | |__    | |  | \ \  /\  / /|  \| | |__  | |__) |
   | | / /\ \ | . ` | | |_ | | | |  _ <| |    |  __|   | |  | |\ \/  \/ / | . ` |  __| |  _  /
   | |/ ____ \| |\  | |__| |_| |_| |_) | |____| |____  | |__| | \  /\  /  | |\  | |____| | \ \
   |_/_/    \_\_| \_|\_____|_____|____/|______|______|  \____/   \/  \/   |_| \_|______|_|  \_\

*/
#tangible-owner-line-expander {
	float: right;
	width: 100px;
}






/*
 _______       _   _  _____ _____ ____  _      ______             _____ _____ ______ _______
|__   __|/\   | \ | |/ ____|_   _|  _ \| |    |  ____|     /\    / ____/ ____|  ____|__   __|
   | |  /  \  |  \| | |  __  | | | |_) | |    | |__       /  \  | (___| (___ | |__     | |
   | | / /\ \ | . ` | | |_ | | | |  _ <| |    |  __|     / /\ \  \___ \\___ \|  __|    | |
   | |/ ____ \| |\  | |__| |_| |_| |_) | |____| |____   / ____ \ ____) |___) | |____   | |
   |_/_/    \_\_| \_|\_____|_____|____/|______|______| /_/    \_\_____/_____/|______|  |_|
*/
#tangible-asset-line-expander {
	float: right;
	width: 100px;
}
input.tpp-125 {
	width:125px;
	font-size:.75em;
}


/*
 _____   ____   _____ _    _ __  __ ______ _   _ _______   __  __          _____ _   _ _______ ______ _   _          _   _  _____ ______
|  __ \ / __ \ / ____| |  | |  \/  |  ____| \ | |__   __| |  \/  |   /\   |_   _| \ | |__   __|  ____| \ | |   /\   | \ | |/ ____|  ____|
| |  | | |  | | |    | |  | | \  / | |__  |  \| |  | |    | \  / |  /  \    | | |  \| |  | |  | |__  |  \| |  /  \  |  \| | |    | |__
	| |  | | |  | | |    | |  | | |\/| |  __| | . ` |  | |    | |\/| | / /\ \   | | | . ` |  | |  |  __| | . ` | / /\ \ | . ` | |    |  __|
| |__| | |__| | |____| |__| | |  | | |____| |\  |  | |    | |  | |/ ____ \ _| |_| |\  |  | |  | |____| |\  |/ ____ \| |\  | |____| |____
|_____/ \____/ \_____|\____/|_|  |_|______|_| \_|  |_|    |_|  |_/_/    \_\_____|_| \_|  |_|  |______|_| \_/_/    \_\_| \_|\_____|______|

 */
.documentMaintence {
	border: 2px solid black;
	background: #fff;
	margin: 0 0 0px;
	padding-left: 0px;
	width: 100%
}

.document-left-box {
    float: left;
	height: 1000px;
	border-right: 2px solid black;
	background: #8DB4E2;
	padding-top: 20px;
}

.document-right-box {
    float: left;
    background: #FFFFFF;
    width: 70%;
	/*
	float: right;
	width: 70%;
	border: 1px solid blue;
*/
}

.documentList {
	font-size: 10px;
}

.documentListHeader{
	font-size: 12px;
	background: #8DB4E2;
	color: #ffffff;
}

.document-preview {
	height: 325px;
	border-bottom:  2px solid black;
}


.document-save-button-text {
	color: rgb(0,128,0);
	font-weight: bold;
	width: 87%;
	border: 1px solid black;
	font-size: 14px;
}

#AddMoreParcelID {
	text-align: right;
	font-size: 14px;

}

#ParcelWrapper {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	/* padding-left: 20%; */
	line-height: 32px;
}