
<cfoutput>
	<CFSET bShowNoRecordsBlurb = FALSE>

	<CFIF TRIM(prc.getCondoLookup.useCode) NEQ "H" AND TRIM(prc.getCondoLookup.useCode) NEQ "H.">
		<CFIF IsDefined("URL.show")>
			<cflocation addtoken="No" url="condoUnit/index.cfm?ParcelID=#URL.ParcelID#&taxYear=#prc.stPersistentInfo.taxYear#&redirect=u">
			<CFABORT>
		<CFELSE>
			<!---
			<CFIF LEN(TRIM(prc.getCondoLookup.parcelID)) NEQ 0>
				<cflocation addtoken="No" url="condoMasterDetails.cfm?ParcelID=#TRIM(prc.getCondoLookup.parcelID)#&taxYear=#prc.stPersistentInfo.taxYear#&redirect=h">
				<CFABORT>
			<CFELSE>
				<!---
				NO ParcelID DEFINED!
				<cfdump var="#qryRecData#" output="browser">
				 --->
				 <CFSET bShowNoRecordsBlurb = TRUE>
			</CFIF>
			--->
			 <CFSET bShowNoRecordsBlurb = TRUE>
		</CFIF>

	</CFIF>

	<CFSET strHeader = "Real Property">
	<cfset tab = "condomaster">

	#renderView('condoMaster/_templates/condoMaster')#
</cfoutput>
