<cfparam name="row" default="0">


<cfdump var="#prc.qryGetLocationCodes#">




<cfinclude template="condoMasterUnits_PrimaryPopup.inc">

<cfoutput>

<!---
#renderView('condoMaster/_templates/condoMasterUnits_PrimaryPopup')#

<cfinclude template="includes/property/condoMasterUnits_PrimaryPopup.inc">

<cfinclude template="includes/property/condoMasterUnits_AddOnsPopup.inc">
--->

</cfoutput>
