<cfoutput>
<h1>An Error Occured</h1>
#renderView('/_templates/alertMsgs')#

<!--- <cfdump var="#prc.stResults#" output="browser" label="prc.stResults">
<p>Error Code: #prc.stResults.status#</p>
<p>Error Details:<br>#prc.stResults.message#</p> --->

</cfoutput>
